@use "@styles/variables" as *

.layout
  width: 100%
  min-height: 100vh
  overflow-x: hidden

.layout__shell
  width: 100%
  max-width: $layout-max
  min-height: 100vh
  margin-inline: auto
  padding: 0 100px

  @media (max-width: $tablet)
    padding: 0 40px

  @media (max-width: $mobile)
    padding: 0 16px
