@use "@styles/variables" as *

.header
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  height: 80px

  &__logo
    display: block
    width: 74px
    height: 24px

    img
      width: 100%
      height: 100%

    &:focus-visible
      outline: 2px solid $primary-color
      outline-offset: 4px

  &__bag
    display: flex
    align-items: center
    justify-content: center
    gap: 5px
    min-width: 33px
    height: 26px
    font-size: 14px
    font-weight: 300
    color: $primary-color
    text-decoration: none

    &:focus-visible
      outline: 2px solid $primary-color
      outline-offset: 4px

  &__bag-icon
    display: block
    width: 18px
    height: 18px
    flex-shrink: 0
