@use "@styles/variables" as *

.specifications
  margin-top: 154px

  &__title
    margin-bottom: 40px
    font-size: 20px
    font-weight: 300
    text-transform: uppercase
    color: $primary-color

  &__row
    display: grid
    grid-template-columns: 300px 1fr
    gap: 48px
    padding: 16px 0
    border-bottom: 1px solid $primary-color

    &:first-child
      border-top: 1px solid $primary-color

    dt, dd
      margin: 0
      font-size: 12px
      font-weight: 300
      text-transform: uppercase
      color: $primary-color

    dd
      text-transform: none

@media (max-width: $mobile)
  .specifications
    margin-top: 80px

    &__row
      grid-template-columns: 150px 1fr
      gap: 12px
      padding: 14px 0
