@use "@styles/variables" as *;

.home
  display: flex
  flex-direction: column
  gap: 24px
  padding-block: 24px 48px

  &__toolbar
    display: flex
    flex-direction: column
    gap: 16px
    margin-bottom: 48px

  &__results
    min-height: 1px

  &__status
    margin: 0
    font-size: 14px
    color: $secondary-color

  @media (max-width: $mobile)
    &__toolbar
      margin-bottom: 24px
